@{
            ViewBag.Title = "HomePage";
            Layout = "~/Views/Shared/ClientLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="" />
</head>
</html>
<body>
    <div class="home">
        <div class="content">
            <video autoplay loop muted plays-inline class="back-video-image"><source src="~/Images/ocean.mp4" /></video>
            <br /><br /><br /><br />
            <div>
                <h1>Bạn muốn đi du lịch<span class="changecontent"></span></h1>
                <p>Cùng khám phá và trải nghiệm những điều thú vị mà chúng tôi sắp mang đến cho bạn</p>
            </div>
            @*<a href="#book">Đặt ngay</a>*@
        </div>
    </div>

    <div class="animate-css" style="background:#fff">
        <section class="animate-css sec-1">
            <div class="card mb-3 card-tour pt-5 py-5">
                <div class="row g-0">
                    <div class="col-md-1"></div>
                    <div class="col-md-5 animate">
                        <img src="https://www.weather2travel.com/images_blog/island-resort-in-the-maldives.jpg" class="img-fluid" alt="..." style="object-fit:cover;max-width:100%;height:auto; border-radius:20px;">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 animate">
                        <div class="card-body" style="text-align:left">
                            <h3 class="card-title animate" style="text-transform:uppercase">chúng tôi <font color="#0094ff">cung cấp</font></h3>
                            <p class="animate" style="font-size:20px">
                                Với đội ngũ nhân viên nhiệt tình, giàu kinh nghiệm và giàu kiến thức về du lịch, chúng tôi không chỉ cung cấp cho khách hàng các dịch vụ chuyên nghiệp mà còn giúp khách hàng lên kế hoạch chuyến đi một cách tỉ mỉ và hiệu quả nhất.
                            </p>
                            <p class="animate" style="font-size:20px;">
                                Cung cấp đầy đủ các dịch vụ du lịch, bao gồm đặt vé máy bay, đặt khách sạn, tour du lịch, vé tham quan, hướng dẫn viên du lịch, và nhiều dịch vụ khác liên quan đến hoạt động du lịch.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="animate-css sec-2">
            <div class="card mb-3 card-tour pt-5 py-5">
                <div class="row g-0 ">
                    <div class="col-md-1"></div>
                    <div class="col-md-5 animate ">
                        <div class="card-body" style="text-align:left">
                            <h3 class="card-title animate" style="text-transform:uppercase">chúng tôi <font color="#0094ff">đảm bảo</font> </h3>
                            <p class="animate" style="font-size:20px;">
                                Mang đến cho khách hàng những trải nghiệm du lịch tuyệt vời và đảm bảo sự hài lòng của khách hàng.
                            </p>
                            <p class="animate" style="font-size:20px;">
                                Để đảm bảo chất lượng dịch vụ, chúng tôi luôn lựa chọn những đối tác tin cậy trong ngành du lịch, từ các hãng hàng không, khách sạn, đến các nhà cung cấp dịch vụ khác. Chúng tôi đảm bảo rằng các đối tác của chúng tôi đều đáp ứng được các tiêu chuẩn chất lượng cao và đáp ứng các yêu cầu khắt khe của khách hàng.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 animate">
                        <img src="~/Images/Hanoi.jpg" class="img-fluid" alt="..." style="object-fit:cover;height:100%;width:100%; border-radius:20px;">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container-back-image img-fluid">
        <div class="back-image-gradients">
            @*<img class="img-fluid back-image" style="width:100vw;height:300px; filter:blur(1px);" src="~/Images/beautiful-girl-standing-boat-looking-mountains-ratchaprapha-dam-khao-sok-national-park-surat-thani-province-thailand.jpg" />*@
        </div>
        <div class="row back-image-text" style="font-size:50px; top:100px !important;">
            <div class="col-3 hover-icon">
                <a href="@Url.Action("About","Home")">
                    <i class="fa-solid fa-plane-departure" style="color:#0026ff"></i>
                    <p>Hơn 7800 Tour đã hoàn thành</p>
                </a>

            </div>
            <div class="col-3 hover-icon">
                <a href="@Url.Action("About","Home")">
                    <i class="fa-sharp fa-solid fa-star" style="color:yellow"></i>
                    <p>Hơn 3800 lượt đánh giá 5 sao</p>
                </a>

            </div>
            <div class="col-3 hover-icon">
                <a href="@Url.Action("About","Home")">
                    <i class="fa-solid fa-route" style="color:#0094ff"></i>
                    <p>Hơn 1200 địa điểm du lịch</p>
                </a>

            </div>
            <div class="col-3 hover-icon" style="color:#f9f9f9">
                <a href="@Url.Action("About","Home")">
                    <i class="fa-solid fa-comments"></i>
                    <p>Giải đáp hơn 13400 thắc mắc</p>
                </a>

            </div>
        </div>
    </div>
    <div class="animate-css">
        <section class="animate-css sec-4">
            <div class="position-relative marquee-container animate" style=" border-bottom:solid;border-color:gainsboro;border-width:thin;">
                <div class="marquee d-flex justify-content-around" style="font-size: 55px;font-weight:bold;text-transform:uppercase; ">
                    <span>
                        Khám phá thế giới cùng chúng tôi<span class="showRight-animate" style="--i: 1; background: #fff"></span>
                    </span>
                </div>
                <div class="marquee marquee2 d-flex justify-content-around" style="font-size: 55px; font-weight:bold;text-transform:uppercase;">
                    <span>
                        Khám phá thế giới cùng chúng tôi<span class="showRight-animate" style="--i: 1; background: #fff"></span>
                    </span>
                </div>
            </div>
            <p class="animate" style="font-size: 30px;padding-top:20px;padding-left:20px; text-transform: uppercase; font-weight: bold; color:#5B5961">
                Các tour chúng tôi đang có<span class="showRight-animate" style="--i:3;background:#fff"></span>
            </p>
        </section>
    </div>
    <div style="text-align:center">
        <div class="row g-0" style="text-align:center">
           @* xuất dữ liệu các tour từ database *@
        </div>
    </div>
</body>