
<select class="form-select form-select-sm" name="name" id="tourNames">
    <option value="" hidden>Chọn Tour Cần Tìm</option>
    @foreach (var item in ViewBag.TourNameList)
    {
        {
            <option value="@item.TenTour">@item.TenTour</option>
        }
    }
</select>
