/* BEGIN EXTERNAL SOURCE */
img {
max-width:50%; max-height:50%
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
button {
font-weight:700;border:3px solid white;border-radius:5px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
ul {
color:white
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
ul {
color:white;float:right!important; flex-wrap:nowrap
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
li {
margin:0 40px 0 40px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
text-decoration: none; color: white; font-weight: bolder;text-decoration:none
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
li {
margin:0 40px 0 40px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
color: white; font-weight: bolder; text-decoration: none
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
li {
margin:0 40px 0 40px;color:white
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
color:white;font-weight:bold;text-decoration:none
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
li {
margin:0 40px 0 40px;color:white
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
color: white; font-weight: bold; text-decoration: none
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
font-size:15px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width:auto;height:40px;border:none;box-shadow:none
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
font-size:15px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: auto; height: 25px; margin-left: 8px; margin-right: 8px; border: none; box-shadow: none
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
font-size:15px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: auto; height: 40px; border: none; box-shadow: none
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
font-size:15px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: auto; height: 25px; border: none; box-shadow: none
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
iframe {
border:0;width:100%;height:450px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
background-color: rgba(0, 0, 0, 0.2)
}
/* END EXTERNAL SOURCE */
