/*NAVBAR*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: opacity 1s,visibility 1s;
    z-index: 100;
}
.loader img{
    width: 400px;
    height: 400px;
}
    .loader::after {
        content: "";
        border-radius: 100%;
        box-shadow: inset 2px 0 0 white, -2px 0 0 white;
        animation: loading 1s infinite linear;
    }

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

#logo {
    font-size: 36px;
    font-weight: 300;
    color: white;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}


.div-navbar {
    z-index: 99;
    position: fixed;
    top:0;
    right:0;
    left:0;
    text-transform: uppercase;
    height: auto;
    width: 100%;
    background-color: rgba(225,225,225,0.3);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

#logo span {
    color: white;
}

.navbar-toggler span {
    color: #0094ff;
    font-weight: 700;
}

.nav-item .nav-link {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
    opacity: 1;
    justify-content: space-between;
    margin: 0px 16px 0px 16px;
    cursor: pointer;
}
    .nav-item div.nav-link a{
        color: white;
    }
    

.nav-item div.nav-link a {
    color: white;
}

#navbar form button {
    background: #0094ff;
    color: white;
    border: none;
}

.div-ggmap {
    height: auto;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

/*FOOTER*/
.footer-wrap {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #F9F9F9;
}

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

    .row p {
        color: #bbbbbb;
    }

.footer {
    background-color: #494949;
    padding: 20px 0;
}

.footer-col {
    width: 30% !important;
    padding: 0 15px;
    display: block;
}

    .footer-col h4 {
        font-size: 30px;
        margin-bottom: 30px;
        position: relative;
        font-weight: 500;
    }

        .footer-col h4::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #f7f9fb;
            height: 3px;
            box-sizing: border-box;
            border-radius: 5px;
            width: 90px;
            box-shadow: 0 0 5px #ffffff;
        }

    .footer-col ul li {
        font-size: 16px;
        color: #bbbbbb;
        display: block;
        transition: all 0.5s ease;
    }

        .footer-col ul li:hover {
            color: #F9F9F9;
            padding-left: 8px;
        }

        .footer-col ul li a {
            font-size: 16px;
            color: #bbbbbb;
            display: block;
        }

            .footer-col ul li a:hover {
                color: #F9F9F9;
                padding-left: 6px;
            }

        .footer-col ul li:not(:last-child) {
            margin-bottom: 10px;
        }

    .footer-col .social-links a {
        font-size: 1.5rem;
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0 15px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        transition: all 0.6s ease;
    }

        .footer-col .social-links a:hover {
            color: #494949;
            background-color: #F9F9F9;
            box-shadow: 0 0 10px #ffffffd1;
        }

/* RESPONSIVE */
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    /*.loader img {
        width: 250px;
        height: 250px;
    }*/
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
