.div-navbar {
    text-transform: uppercase;
    padding: 0px;
    height: auto;
    width: 100%;
    background: #8CABFF;
    display: none;
}

div.btn-back-profile a {
    padding: 6px 15px;
    border: 1px solid;
    border-radius: 10px;
    background: #0094ff;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.8s;
}

    div.btn-back-profile a:hover {
        outline: none;
        background: #8CABFF;
        color: black;
    }
