
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root {
    --linear-grad: linear-gradient(to right, #141e30, #243b55);
    /*--grad-clr1: #141e30;
    --grad-clr2: #243b55;*/
}

body {
    height: 100vh;
    background: #f6f5f7;
    display: grid;
    place-content: center;
}

.container {
    position: relative;
    width: 850px;
    height: 500px;
    background-color: #fff;
    box-shadow: 25px 30px 55px #5557;
    border-radius: 13px;
    overflow: hidden;
}

.form-container {
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 0px 40px;
    transition: all 0.6s ease-in-out;
}

.sign-up-container {
    opacity: 0;
    z-index: 1;
}
    .sign-up-container h1 {
        text-align: center;
        padding-top: 25px;
    }
.sign-up-container .sign-up-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
}

.sign-in-container {
    z-index: 2;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
h1 {
    color: #2D9596;
}
.infield {
    position: relative;
    margin: 8px 0px;
    width: 100%;
}
.input {
    width: 100%;
    padding: 12px 15px;
    background-color: #f3f3f3;
    outline: none;
    border: none;
}
label {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    height: 2px;
    background: #2D9596;
    transition: 0.3s;
    width:0;
}
.input:focus ~ label {
    width: 100%;
}
a {
    color: #222222;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0px;
}
a.forgot {
    padding-bottom: 3px;
    border-bottom: 2px solid #EEE;
}
button {
    border-radius: 20px;
    color: #F9F9F9;
    background-color: #2D9596;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 45px;
    border: none;
}

.form-container button {
    margin-top: 17px;
    transition: 80ms ease-in;
}
    .form-container button:hover {
        border: 1px solid #088395;
        background: #fff;
        color: #2D9596;
    }
.overlay-container {
    position: absolute;
    top: 0;
    left: 60%;
    width: 40%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 9;
}
#overlayBtn {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 304px;
    transform: translateX(-50%);
    width: 143.67px;
    height: 40px;
    background: transparent;
    border-radius: 20px;
    border: 1px solid #FFF;
}

.overlay {
    position: relative;
    background: #2D9596;
    color: #FFF;
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    height: 100%;
    width: 340px;
    transition: 0.6s ease-in-out;
}

.overlay-left {
    right: 60%;
    transform: translateX(-12%);
}

.overlay-right {
    right: 0;
    transform: translateX(0%);
}
.overlay-panel h1 {
    color: #FFF;
}
p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.25px;
    margin: 25px 0px 35px;
}
.overlay-panel button {
    border: none;
    background-color: transparent;
}

.right-panel-active .overlay-container {
    transform: translateX(-150%);
}

.right-panel-active .overlay {
    transform: translateX(50%);
}

.right-panel-active .overlay-left {
    transform: translateX(25%);
}

.right-panel-active .overlay-right {
    transform: translateX(35%);
}

.right-panel-active .sign-in-container {
    transform: translateX(20%);
    opacity: 0;
}

.right-panel-active .sign-up-container {
    transform: translateX(66.7%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 50% {
        opacity: 0;
        z-index: 1;
    }

    50.1%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.btnScaled {
    animation: scaleBtn 0.6s;
}

@keyframes scaleBtn {
    0% {
        width: 143.67px;
    }

    50% {
        width: 250px;
    }

    100% {
        width: 143.67px;
    }
}

.validation-summary-errors{
    color:red;
    font-weight:bold;
}
.validation-summary-errors ul{
    list-style:none;
}
.message {
    color: #4BB543;
    margin: 10px;
    font-weight: bold;
}