* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
.div-navbar{
    display:none
}
body {
    overflow-x: hidden;
    background: url(../../Images/Client/Profile/cityHCM.jpg) !important;
    
}
.containers {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-box {
    background: #0094ff;
    text-align: center;
    padding: 40px 90px;
    color: #fff;
    position: relative;
    border-radius: 20px;
}
    .profile-box a{
        text-decoration:none;
        color:white;
        font-weight:500;
    }
    .invoice-icon {
        width: 25px;
        position: absolute;
        left: 40px;
        top: 40px;
        cursor: pointer;
    }

.pen-icon {
    width: 25px;
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
}

.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 55%;
    background: #fff;
    padding: 6px;
    margin-top: 40px;
}

.social-media img {
    width: 30px;
    margin: 30px 5px;
    cursor: pointer;
}

.profile-bottom {
    background: #fff;
    color: #999;
    padding: 60px 0px;
    margin-right: -90px;
    margin-left: -90px;
    margin-bottom: -40px;
    border-radius: 20px;
    border: 2px solid #0094ff;
    margin-top: -10px;
}
/*
.profile-box button {
    background: #fff;
    color: #0094ff;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px rgba(60, 170, 255, 0.5);
    padding: 15px 60px;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: -50px;
    font-weight: 700;
    font-size: 16px;
}*/
.profile-box h3 {
    font-size: 22px;
    font-weight: 700;
    margin: 20px 0 10px 0;
}
.profile-bottom p{
    color: #999;
    font-weight:bold;
    font-size:16px;
}
